/* style reset */
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
input,
button {
  outline: none;
}
/* basic style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}
.header__img {
  width: 100%;
}
.header__link {
  font-family: fantasy, cursive;
}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.button:hover {
  color: #3a3A3a;
}
.todo-item__text,
.add__task {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.todo-item__text:focus,
.add__task:focus {
  color: #333;
}
/* headings */
.add__title,
.todo__title,
.completed__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
/* new task */
.add__title {
  display: block;
  margin: 0 0 20px;
}
.add__task {
  width: 318px;
}
.add__task-wrapper {
  display: flex;
}
/* task list */
.todo-item,
.todo-item_edit {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-item > *,
.todo-item_edit > * {
  vertical-align: middle;
}
.todo-item__checkbox {
  margin: 0 10px;
}
.todo-item__task {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.todo-item_edit > input[type="text"],
.todo-item > input[type="text"] {
  width: 226px;
}
.todo-item__delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.todo-item__delete-img:hover {
  transform: rotateZ(0);
}
/* Completed */
.completed__tasks {
  text-decoration: line-through;
  color: #888;
}
/* Edit Task */
.todo-item__text {
  display: none;
}
.todo-item_edit input[type="text"] {
  display: inline-block;
  width: 224px;
}
.todo-item_edit p {
  display: none;
}